# تنظیمات VS Code
.vscode/
demo/

# سیستم‌عامل
.DS_Store
Thumbs.db

# فایل‌های لاگ
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# پوشه وابستگی‌ها
node_modules/
package-lock.json
yarn.lock

# فایل‌های موقت ویرایشگر
*.swp
*.swo
*~
.idea/
